@import "../../common/css/theme";
.location {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    &-map {
        width: 100%;
        height: 100%;
    }

    &__nav-btn {
        position: absolute;
        top: 82px + 20px;
        right: 45px;
        height: 64px;
        line-height: 64px;
        font-size: 28px;
        width: 200px;
        color: #fff;
        background: $color-brand;
    }
    &__tool {
        position: absolute;
        width: 66%;
        height: 140px;
        bottom: 66px;
        left: 17%;
        &-btn {
            width: 100%;
            height: 140px;
            display: flex;
            align-content: center;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &-call {
            width: 110px;
            height: 140px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-call-img {
            width: 100px;
            height: 100px;
        }
        &-call-txt {
            width: 110px;
            margin-top: 10px;
            font-size: 24px;
            color: #6B4F4E;
            text-align: center;
        }
    }
}
