/**
 * @Description: 通用样式
 * @author: forguo
 * @date: 2020/8/19
*/
page {
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}
Page {
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

button {
    background: none;
    &:after {
        content: none;
        border: none;
    }
}

Button {
    background: none;
    &:after {
        content: none;
        border: none;
    }
}

.placeholder-style {
    color: #CFCFCF;
}

.btn-hover {
    background: #f8f8f8;
}

/*
 * 全屏loading
 */

.spin-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    pointer-events: all;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
