.send-msg {
    display: block;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: visible;
    &-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, 0.7);
        transition: opacity 150ms ease;
        opacity: 1;
        &-show {
            opacity: 1;
            transition: opacity 150ms ease;
        }
    }
    &-inner {
        width: 650px;
        height: 600px;
        padding: 25px 43px 43px 43px;
        box-sizing: border-box;
        background:rgba(255,255,255,1);
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        &__tool-bar {
            display: flex;
            width: 100%;
            height: 70px;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &:after {
                content: '写祝福';
                position: absolute;
                width: 50%;
                height: 70px;
                line-height: 65px;
                left: 25%;
                top: 0;
                text-align: center;
                font-size: 34px;
                font-weight:400;
                color: rgb(9, 9, 9);
            }
        }
        &__tool-btn {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__back-icon {
            width: 38px;
            height: 33px;
        }
        &__send-icon {
            width: 43px;
            height: 43px;
        }
        &__input {
            width: 540px;
            height: 360px;
            margin: 40px auto 20px;
        }
        &__area {
            width: 100%;
            height: 360px;
            font-size: 26px;
            font-weight: 400;
            line-height: 40px;
        }
    }
}
