@import "../../common/css/theme";
.bless {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &-media {
        width: 100%;
        &__video {
           width: 100%;
        }
    }
    &-msg {
        width: 630px;
        height: 306px;
        margin: 30px auto;
        border: 1PX solid rgb(199, 199, 199);
        border-radius: 12px;
        &-input {
            width: 100%;
            height: 306px;
            padding: 20px 25px;
            box-sizing: border-box;
            border-radius: 12px;
            background: #fff;
            line-height: 45px;
            font-size: 26px;
        }
    }
    &-tool {
        width: 630px;
        margin: 50px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__send-msg {
            font-size: 28px;
            width: 300px;
            color: #fff;
            background: $color-brand;
            position: relative;
        }
        &__share {
            font-size: 28px;
            width: 300px;
            color: #fff;
            background: #2CA6F9;
        }
    }

    &-share {
        &-moment {
            font-size: 24px;
        }
        &-partner {
            font-size: 24px;
        }
    }
}
